{% extends 'base.html.twig' %}

{% block title %}TemplatesCarteVisites index{% endblock %}

{% block body %}
    <h1>TemplatesCarteVisites index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titres</th>
                <th>Descriptions</th>
                <th>Visibilites</th>
                <th>Commandes</th>
                <th>DateAjout</th>
                <th>Images</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for templates_carte_visite in templates_carte_visites %}
            <tr>
                <td>{{ templates_carte_visite.id }}</td>
                <td>{{ templates_carte_visite.titres }}</td>
                <td>{{ templates_carte_visite.descriptions }}</td>
                <td>{{ templates_carte_visite.visibilites ? 'Yes' : 'No' }}</td>
                <td>{{ templates_carte_visite.commandes }}</td>
                <td>{{ templates_carte_visite.dateAjout ? templates_carte_visite.dateAjout|date('Y-m-d') : '' }}</td>
                <td>{{ templates_carte_visite.images }}</td>
                <td>
                    <a href="{{ path('app_templates_carte_visites_show', {'id': templates_carte_visite.id}) }}">show</a>
                    <a href="{{ path('app_templates_carte_visites_edit', {'id': templates_carte_visite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_templates_carte_visites_new') }}">Create new</a>
{% endblock %}
