{% extends 'base.html.twig' %}

{% block body %}
<section class="intro_section page_mainslider cs gradient lightened all-scr-cover image-dependant with_skew_overlay rasterized-content">
  <div class="skew-overlay"></div>
	<div class="flexslider" data-dots="true" data-nav="false">
		<ul class="slides">
			<li>
				<div class="slide-image-wrap"> <img src="{{domaine}}/util/images/slide01.png" alt="" /> </div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12 text-center topmargin_0 bottommargin_0">
							<div class="slide_description_wrapper">
								<div class="slide_description">
									<div class="intro-layer" data-animation="fadeInUp">
										<p class="under_heading black">- &amp; -</p>
									</div>
								</div>
								<!-- eof .slide_description -->
							</div>
							<!-- eof .slide_description_wrapper -->
						</div>
						<!-- eof .col-* -->
					</div>
					<!-- eof .row -->
				</div>
				<!-- eof .container -->
			</li>
			<li>
				<div class="slide-image-wrap"> <img src="{{domaine}}/util/images/slide02.png" alt="" /> </div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12 text-center topmargin_0 bottommargin_0">
							<div class="slide_description_wrapper">
								<div class="slide_description">
									<div class="intro-layer" data-animation="fadeInUp">
										<p class="under_heading black">- &amp; -</p>
									</div>
								</div>
								<!-- eof .slide_description -->
							</div>
							<!-- eof .slide_description_wrapper -->
						</div>
						<!-- eof .col-* -->
					</div>
					<!-- eof .row -->
				</div>
				<!-- eof .container -->
			</li>
			<li>
				<div class="slide-image-wrap"> <img src="{{domaine}}/util/images/slide03.png" alt="" /> </div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12 text-center topmargin_0 bottommargin_0">
							<div class="slide_description_wrapper">
								<div class="slide_description">
									<div class="intro-layer" data-animation="fadeInUp">
										<p class="under_heading black">- &amp; -</p>
									</div>
								</div>
								<!-- eof .slide_description -->
							</div>
							<!-- eof .slide_description_wrapper -->
						</div>
						<!-- eof .col-* -->
					</div>
					<!-- eof .row -->
				</div>
				<!-- eof .container -->
			</li>
		</ul>
	</div>
	<!-- eof flexslider -->
</section>

<section id="about" class="ls section_padding_top_150 section_padding_bottom_150 columns_padding_30 columns_margin_bottom_40">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6 text-center text-sm-left">
				<h2 class="section_header"><span class="big-first-letter">Pourquoi<br> Teli <br> Cards</span></h2>
				<p class="under_heading grey">BIENVENUE </p>
				<p>Teli Cards est un service innovant qui permet de virtualiser, d'imprimer et de promouvoir les cartes de visite en ligne. Cette solution offre aux entreprises et aux particuliers une plateforme complète pour centraliser leurs informations de contact et promouvoir leurs activités en ligne.</p>
				<div class="toppadding_5 visible-lg"></div>
				<p class="topmargin_30"> <a href="{{ path('app_offres') }}" class="theme_button min_width_button">Nos offres</a> </p>
			</div>
			<div class="toppadding_30 visible-xs visible-sm clearfix"></div>
			<div class="col-xs-12 col-md-6">
				<div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">
					<div class="isotope-item col-xxs-12 col-xs-6">
						<div class="hover-teaser square">
							<div class="teaser-inner">
								<div class="teaser text-center"> <img src="{{domaine}}/util/images/services-icons/cartes.jpeg" alt="">
									<h3 class="entry-title small">Carte de<br> Visite Physqiue</h3>
								</div>
							</div> <a href="service-single.html" class="abs-link"></a> </div>
					</div>
					<div class="isotope-item col-xxs-12 col-xs-6">
						<div class="hover-teaser square">
							<div class="teaser-inner">
								<div class="teaser text-center"> <img src="{{domaine}}/util/images/services-icons/site.jpeg" alt="">
									<h3 class="entry-title small">Carte de<br> Visite Virtuelle</h3>
								</div>
							</div> <a href="service-single.html" class="abs-link"></a> </div>
					</div>
					<div class="isotope-item col-xxs-12 col-xs-6">
						<div class="hover-teaser square">
							<div class="teaser-inner">
								<div class="teaser text-center"> <img src="{{domaine}}/util/images/services-icons/site.jpeg" alt="">
									<h3 class="entry-title small">Un site<br> Vitrine</h3>
								</div>
							</div> <a href="service-single.html" class="abs-link"></a> </div>
					</div>
					<div class="isotope-item col-xxs-12 col-xs-6">
						<div class="hover-teaser square">
							<div class="teaser-inner">
								<div class="teaser text-center"> <img src="{{domaine}}/util/images/services-icons/sms.jpeg" alt="">
									<h3 class="entry-title small">Un système<br> de messagerie</h3>
								</div>
							</div> <a href="service-single.html" class="abs-link"></a> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="ls text-center section_padding_top_150 section_padding_bottom_150">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="section_header to_animate" data-animation="slideDown" data-delay="150">Utilisez Votre carte sans internet ni crédit!</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 to_animate" data-animation="moveFromRight" data-delay="150">
				<h3>Votre carte via USSD</h3>
				<p>Accédez à vos informations partout, <strong>sans connexion ni crédit</strong>, grâce à l'option USSD de la carte Teliman ! Lancez simplement une requête depuis votre téléphone portable en composant le numéro court attribué à chaque utilisateur <strong>(ex : #911#1+numéro court#)</strong> et validez. Vos informations seront à portée de main en un instant.</p>
			</div>
			<div class="col-sm-6 to_animate" data-animation="moveFromBottom" data-delay="150">
				<h3>Scannez le QR code</h3>
				<p>Découvrez une expérience pratique avec la carte Teliman ! Scannez le QR code pour accéder instantanément à votre numéro court USSD attribué. Plus besoin de chercher ou de composer manuellement, tout est à portée de main pour accéder à vos informations en un seul clic. Simplifiez votre expérience avec la carte Teliman et profitez de la facilité de communication.</p>
			</div>
		</div>
	</div>
</section>

<section class="ls page_portfolio section_padding_top_140 section_padding_bottom_150 columns_padding_0 container_padding_0">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="isotope_container isotope row masonry-layout columns_margin_0 columns_padding_0" data-filters=".isotope_filters">
					{% for carteExpo in carteExpos %}
						<div class="isotope-item col-lg-6 col-md-6 col-sm-6 category-1">
							<article class="vertical-item gallery-item content-padding big-padding text-center">
								<div class="item-media"> <img src="{{domaine}}/assets/img/templatesCartes/{{carteExpo.photoCouvertures}}" alt="">
									<div class="media-links">
										<div class="links-wrap"> <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="{{domaine}}/assets/img/templatesCartes/{{carteExpo.photoCouvertures}}"></a> </div>
									</div>
								</div>
								<div class="item-content">
									<header class="entry-header">
										<h3 class="entry-title"> <a href="{{path('app_modeles')}}" rel="bookmark">{{carteExpo.titres}}</a> </h3>
										<div class="categories-links small-text highlightlinks small-text"> <a href="#">{{carteExpo.types}}</a> </div>
									</header>
								</div>
							</article>
						</div>
					{% endfor %}
					
				</div>
				<!-- eof .isotope_container.row -->
				<div class="text-center"> <a href="{{path('app_modeles')}}" class="theme_button min_width_button margin_0">Voir plus</a> </div>
			</div>
		</div>
	</div>
</section>

<section class="ls section_padding_top_150 section_padding_bottom_150">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h2 class="section_header">Nos Packs</h2>
				<p class="under_heading grey">Avantageuses et abordables</p>
				<div class="toppadding_15 visible-lg"></div>
				<div class="row flex-wrap v-center-content steps-row">
					<div class="col-xs-12 col-sm-4">
						<div class="teaser text-center">
							<div class="hero highlight">{{OffrePerso.nom}}</div>
							<h3> {{OffrePerso.Montants}} FCFA  {% if OffrePerso.promos == true %} <sup>-{{OffrePerso.taux}}%</sup>{% endif %}</h3>
							<ul class="list2 checklist text-left">
								{% for OffrePersoAvantage in OffrePersoAvantages %}
									<li> {{OffrePersoAvantage.unites }} {% if OffrePersoAvantage.promos == true %} <sup>+{{OffrePersoAvantage.bonus}}</sup>{% endif %}{{OffrePersoAvantage.libelles }}  </li>
								{% endfor %}
							</ul>
							<div class="toppadding_10 visible-lg"></div> <a href="#" class="theme_button round_button color1"><i class="fa fa-angle-right" aria-hidden="true"></i></a> </div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="teaser text-center">
							<div class="hero highlight">{{OffrePro.nom}}</div>
							<h3>{{OffrePro.Montants}} FCFA  {% if OffrePro.promos == true %} <sup>-{{OffrePro.taux}}%</sup>{% endif %}</h3>
							<ul class="list2  checklist highlight text-left">
								{% for OffreProAvantage in OffreProAvantages %}
									<li> {{OffreProAvantage.unites }} {% if OffreProAvantage.promos == true %} <sup>+{{OffreProAvantage.bonus}}</sup>{% endif %}{{OffreProAvantage.libelles }}  </li>
								{% endfor %}
							</ul>
							<div class="toppadding_10 visible-lg"></div> <a href="#" class="theme_button round_button color1"><i class="fa fa-angle-right" aria-hidden="true"></i></a> </div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="teaser text-center">
							<div class="hero highlight">{{OffreVip.nom}}</div>
							<h3>{{OffrePro.Montants}} FCFA  {% if OffreVip.promos == true %} <sup>-{{OffreVip.taux}}%</sup>{% endif %}</h3>
							<ul class="list2 checklist text-left">
								{% for OffreVipAvantage in OffreVipAvantages %}
									<li> {{OffreVipAvantage.unites }} {% if OffreVipAvantage.promos == true %} <sup>+{{OffreVipAvantage.bonus}}</sup>{% endif %}{{OffreVipAvantage.libelles }}  </li>
								{% endfor %}
							</ul>
							<div class="toppadding_10 visible-lg"></div> <a href="#" class="theme_button round_button color1"><i class="fa fa-angle-right" aria-hidden="true"></i></a> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="app-section" class="cs gradient lightened with_skew_overlay section_padding_top_150 section_padding_bottom_150 columns_margin_bottom_50">
	<div class="skew-overlay right"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6 text-center text-md-left">
				<h2 class="section_header">Donnez une image professionnelle à votre marque</h2>
				<p class="under_heading grey">for free</p>
				<div class="toppadding_15 visible-lg"></div>
			</div>
			<div class="col-xs-12 col-md-6 text-center hidden-xs hidden-sm"> <img src="{{domaine}}/util/images/phone.png" alt=""> </div>
		</div>
	</div>
</section>
<section id="blog" class="ls section_padding_top_150 section_padding_bottom_150">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-10 text-center text-sm-left">
				<h2 class="section_header">Avons les meilleurs Infographiste</h2>
				<p class="under_heading grey">Donnez une image professionnelle à votre marque</p>
			</div>
			<div class="col-xs-12 col-sm-2 text-right hidden-xs"> <a href="blog-full.html" class="theme_button round_button">Phone</a> </div>
			<div class="toppadding_15 clearfix"></div>
			<div class="toppadding_20 clearfix visible-lg"></div>
			<div class="col-xs-12">
				<div class="owl-carousel with_shadow_items" data-responsive-lg="3" data-responsive-md="3" data-responsive-sm="2" data-responsive-xs="2" data-margin="60">
					<article class="post vertical-item content-padding big-padding with_shadow text-center">
						<div class="item-media entry-thumbnail"> <img src="{{domaine}}/util/images/blog-square/01.jpg" alt="">
							<div class="entry-meta-corner"> <a href="blog-single-left.html">
						<time datetime="2017-10-03T08:50:40+00:00">22 may</time>
					</a> </div>
						</div>
						<div class="item-content">
							<h3 class="entry-title small"> <a href="blog-single-left.html">Differ one financial advisor from another</a> </h3> <span class="categories-links small-text">
					<a href="blog-@@type.html">Conception et impresseion</a>
				</span> </div>
					</article>
					<article class="post vertical-item content-padding big-padding with_shadow text-center">
						<div class="item-media entry-thumbnail"> <img src="{{domaine}}/util/images/blog-square/02.jpg" alt="">
							<div class="entry-meta-corner"> <a href="blog-single-left.html">
						<time datetime="2017-10-03T08:50:40+00:00">18 may</time>
					</a> </div>
						</div>
						<div class="item-content">
							<h3 class="entry-title small"> <a href="blog-single-left.html">The 10 most frequently asked HR questions</a> </h3> <span class="categories-links small-text">
					<a href="blog-@@type.html">Kakemono</a>
				</span> </div>
					</article>
					<article class="post vertical-item content-padding big-padding with_shadow text-center">
						<div class="item-media entry-thumbnail"> <img src="{{domaine}}/util/images/blog-square/03.jpg" alt="">
							<div class="entry-meta-corner"> <a href="blog-single-left.html">
						<time datetime="2017-10-03T08:50:40+00:00">14 may</time>
					</a> </div>
						</div>
						<div class="item-content">
							<h3 class="entry-title small"> <a href="blog-single-left.html">Is loan refinancing right for you?</a> </h3> <span class="categories-links small-text">
					<a href="blog-@@type.html">Des spots plublicitaire</a>
				</span> </div>
					</article>
				</div>
			</div>
			<div class="col-xs-12 visible-xs text-center">
				<div class="toppadding_30"></div> <a href="blog-full.html" class="theme_button min_width_button">more</a> </div>
		</div>
	</div>
</section>
{% endblock %}