{% extends 'base-compte.html.twig' %}

{% block title %}Espaces{% endblock %}

{% block body %}
   <section class="ls section_padding_top_150 section_padding_bottom_150">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="teaser text-center">
                    <div class="teaser_icon grey size_big"> <i class="rt-icon2-bulb"></i> </div>
                    <h3 class="counter-wrap" data-from="0" data-to="40" data-speed="1800"> <span class="counter" data-from="0" data-to="20" data-speed="1500">0</span><span class="counter-add">+</span> </h3>
                    <p>SMS</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="teaser text-center">
                    <div class="teaser_icon grey size_big"> <i class="rt-icon2-banknote"></i> </div>
                    <h3 class="counter" data-from="0" data-to="19350" data-speed="2100">0</h3>
                    <p>Dollars</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="teaser text-center">
                    <div class="teaser_icon grey size_big"> <i class="rt-icon2-user"></i> </div>
                    <h3 class="counter" data-from="0" data-to="1256" data-speed="1400">0</h3>
                    <p>Notre visite</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="teaser text-center">
                    <div class="teaser_icon grey size_big"> <i class="rt-icon2-like"></i> </div>
                    <h3 class="counter-wrap"> <span class="counter" data-from="0" data-to="100000" data-speed="1500">0</span><span class="counter-add">+</span> </h3>
                    <p>Message</p>
                </div>
            </div>
        </div>
    </div>
</section>
  <section class="ls section_padding_top_150 section_padding_bottom_150 columns_padding_30">
    <div class="container">
        <div class="row">
             <div class="col-xs-12 col-md-8 col-lg-8 col-md-push-4 col-lg-push-4">
                <!-- .post -->
                <article class="post format-gallery vertical-item content-padding big-padding with_shadow">
                    <div class="row">
                        <div class="toppadding_30 visible-xs visible-sm clearfix"></div>
                            <div class="col-xs-12 col-md-12">
                                <div class="isotope_container isotope row masonry-layout columns_margin_bottom_20">
                                    
                                    {% if espace.commandes == null %}
                                        <section class="ls section_padding_top_150 section_padding_bottom_150">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div> <a href="#" data-toggle="modal" data-target=".bd-example-modal-lg" class="theme_button min_width_button color1"><i class="fa fa-leaf rightpadding_5"></i>Offre</a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                      {% else %}
                                            <section class="ls section_padding_top_150 section_padding_bottom_150">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                           <div> <a href="#" class="theme_button min_width_button color1"><i class="fa fa-leaf rightpadding_5"></i>Choisir une carte</a><a href="#" class="theme_button min_width_button color1"><i class="fa fa-leaf rightpadding_5"></i>Choisir un site</a> </div>
                                                            <div> <a href="{{path('app_numero_ussd',{'espaces':'ok'})}}" class="theme_button min_width_button color1"><i class="fa fa-leaf rightpadding_5"></i>Choisir un numéro</a><a href="#" class="theme_button min_width_button color1"><i class="fa fa-leaf rightpadding_5"></i>Ajouter un site</a> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                </article>

                 <article class="post format-gallery vertical-item content-padding big-padding with_shadow">
                    <div class="item-media-wrap">
                        <div class="item-media entry-thumbnail">
                            <div class="owl-carousel" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-dots="true" data-nav="false"> <img src="{{domaine}}/util/images/blog/05.jpg" alt=""> <img src="{{domaine}}/util/images/blog/06.jpg" alt=""> <img src="{{domaine}}/util/images/blog/04.jpg" alt=""> </div>
                            <div class="entry-meta-corner"> <a href="blog-single-left.html">
                            <time datetime="2017-10-03T08:50:40+00:00">22 may</time>
                        </a> </div>
                        </div>
                    </div>
                    <div class="item-content entry-content">
                        <header class="entry-header">
                            <div class="entry-meta inline-content with_dividers highlightlinks highlight">
                                <!-- 									<span>
                            <a href="blog-single-left.html">
                                <time datetime="2017-10-03T08:50:40+00:00">
                                19 May 2018</time>
                            </a>
                        </span> --><span><a href="blog-left.html">Miguel Carter</a> </span> <span class="categories-links"><a href="blog-left.html">Corporate</a>
                        </span> </div>
                            <h3 class="entry-title big"> <a href="blog-single-left.html">Post Format: Gallery</a> </h3>
                        </header>
                        <!-- .entry-header -->
                        <div class="entry-content">
                            <p>Duis autem eumre dolor hendrerit vulputate veliesse molestie consequat vel illum dolore at vero eros et accumsan et iusto odio dignissim. Qui blandit praesent luptatum zzril delenit augue duis dolore feugait nulla facilisi. Lorem ipsum dolor
                                sit amet, consectetuer adipiscing elitsed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                        <div class="entry-meta small-text content-justify v-spacing v-center">
                            <div class="share-buttons"> <span class="grey rightmargin_10">Share:</span> <a class="social-icon color-icon border-icon rounded-icon socicon-facebook" href="#" title="Facebook"></a> <a class="social-icon color-icon border-icon rounded-icon socicon-twitter" href="#" title="Twitter"></a>											<a class="social-icon color-icon border-icon rounded-icon socicon-googleplus" href="#" title="Google Plus"></a> <a class="social-icon color-icon border-icon rounded-icon socicon-instagram" href="#" title="Instagram"></a> </div>
                            <div class="darklinks">
                            <a href="blog-single-left.html#comments">comments  <span class="count">/ 3 /</span></a> </div>
                        </div>
                    </div>
                    <!-- .item-content.entry-content -->
                </article>
                <!-- .post -->
                <div class="topmargin_60 text-center">
                    <ul class="pagination">
                        <li><a href="#"><span class="sr-only">Prev</span><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><span class="sr-only">Next</span><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <!--eof .col-sm-8 (main content)-->
            <!-- sidebar -->
            <aside class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-md-pull-8 col-lg-pull-8 col-sm-offset-3 col-md-offset-0">
                <div class="widget widget_categories">
                    <h3 class="widget-title">Categories</h3>
                    <ul class="greylinks">
                        <li> <a href="#">Statut</a> <span>/ 6 /</span> </li>
                        <li> <a href="#">Votre carte physique</a> <span>/ 2 /</span> </li>
                        <li> <a href="#">Votre site web</a> <span>/ 4 /</span> </li>
                    </ul>
                </div>
                <div class="widget widget_slider widget_recent_posts">
                    <h3 class="widget-title">Post Slider</h3>
                    <div class="owl-carousel with_shadow_items" data-nav="true" data-loop="true" data-items="1" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1">
                        <div class="vertical-item content-padding with_shadow">
                            <div class="item-media entry-thumbnail"> <img src="{{domaine}}/util/images/gallery/01.jpg" alt="">
                                <div class="media-links"> <a class="abs-link" title="" href="blog-single-left.html"></a> </div>
                            </div>
                            <div class="item-content">
                                <h4> <a href="blog-single-right.html">Tenderloin shankle prosciutto turducken strip.</a> </h4> <span class="entry-meta inline-content with_dividers highlightlinks highlight">
                        <a href="blog-single-right.html">
                            <time datetime="2017-10-03T08:50:40+00:00">19 May 2018</time>
                        </a>
                    </span> </div>
                        </div>
                        <div class="vertical-item content-padding with_shadow">
                            <div class="item-media entry-thumbnail"> <img src="{{domaine}}/util/images/gallery/05.jpg" alt="">
                                <div class="media-links"> <a class="abs-link" title="" href="blog-single-left.html"></a> </div>
                            </div>
                            <div class="item-content">
                                <header class="entry-header">
                                    <h4> <a href="blog-single-right.html">T-bone pork loin tenderloin landjaeger salami.</a> </h4> <span class="entry-meta inline-content with_dividers highlightlinks highlight">
                            <a href="blog-single-right.html">
                                <time datetime="2017-10-03T08:50:40+00:00">20 May 2018</time>
                            </a>
                        </span> </header>
                            </div>
                        </div>
                        <div class="vertical-item content-padding with_shadow">
                            <div class="item-media entry-thumbnail"> <img src="{{domaine}}/util/images/gallery/07.jpg" alt="">
                                <div class="media-links"> <a class="abs-link" title="" href="blog-single-left.html"></a> </div>
                            </div>
                            <div class="item-content">
                                <header class="entry-header">
                                    <h4> <a href="blog-single-right.html">Tenderloin shankle prosciutto turducken strip.</a> </h4> <span class="entry-meta inline-content with_dividers highlightlinks highlight">
                            <a href="blog-single-right.html">
                                <time datetime="2017-10-03T08:50:40+00:00">21 May 2018</time>
                            </a>
                        </span> </header>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget_instagram">
                    <h3 class="widget-title">Instagram</h3>
                    <div class="instafeed"> </div>
                </div>
                <div class="cs gredient lightened with_padding">
                    <div class="widget widget_mailchimp">
                        <h3 class="widget-title black">Newsletter</h3>
                        <form class="signup" action="./" method="get">
                            <div class="form-group-wrap">
                                <div class="form-group"> <label for="mailchimp" class="sr-only">Enter your email here</label> <input name="email" type="email" id="mailchimp" class="mailchimp_email form-control" placeholder="Email Address"> </div> <button type="submit" class="theme_button color1 no_bg_button">Submit</button>											</div>
                            <div class="response"></div>
                        </form>
                    </div>
                </div>
                <div class="widget widget_tag_cloud">
                    <h3 class="widget-title">Tags</h3>
                    <div class="tagcloud"> <a href="#" title="">Financial</a> <a href="#" title="">Law</a> <a href="#" title="">Invest</a> <a href="#" title="">Investment</a> <a href="#" title="">Stock market</a> <a href="#" title="">Money</a> <a href="#" title="">Corporate</a> </div>
                </div>
                <div class="widget widget_twitter highlight2links">
                    <h3 class="widget-title">Twitter</h3>
                    <div class="twitter"></div>
                </div>
            </aside>
            <!-- eof aside sidebar -->
        </div>
    </div>
</section> 
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="table-responsive">
            <table class="table_template darklinks topmargin_0" id="timetable">
                <thead>
                    <tr>
                        <th>Ref</th>
                        <th>Date</th>
                        <th>Offre</th>
                        <th>Montant</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <a href="event-single-left.html" class="management">Management</a> </td>
                        <td> <a href="event-single-left.html" class="meetings"> Meetings</a> </td>
                        <td> </td>
                        <td> <a href="event-single-left.html" class="consultations"> Consultations</a> </td>
                        <td> <a href="event-single-left.html" class="presentations">Presentations</a>  
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
  </div> 
</div>     
{% endblock %}

